
 <!-- Side navigation -->
 <div class="sidenav">
    <a href="/admin/dashboard" style="text-decoration: none;">Dashboard</a>
    <a href="/admin/orders" style="text-decoration: none;">All Orders</a>
    <a href="/admin/allproducts" style="text-decoration: none;">All products</a>
    <a href="/admin/category" style="text-decoration: none;">Categories</a>
    <a href="#" style="text-decoration: none;">Logout</a>
  </div>
  