
  <!-- Footer -->
<footer class="page-footer font-small blue pt-4 bg-dark text-light mt-5">
    <div class="container ">
    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">
  
      <!-- Grid row -->
      <div class="row ">
  
        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">
  
          <!-- Content -->
          <h5 class="text-uppercase ">Luviaka</h5>
          <p>We are an art community.</p>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none pb-3">
  
        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3 ">
            <!-- contact div -->
            <div class="hero__search ">
                            
                <div class="hero__search__phone ">
                    <div class="hero__search__phone__icon" style="margin-left: 1px;">
                        <i class="fa fa-phone"></i>
                    </div>
                    <div class="hero__search__phone__text">
                        <h5 class="text-light">+91 83019-41618</h5>
                        <span class="text-light">support 24/7 time</span>
                    </div>
                </div>
            </div>
          <!-- Links -->
          <!-- <h5 class="text-uppercase">Links</h5> -->
  
          <!-- <ul class="list-unstyled">
            <li>
              <a href="#!">Link 1</a>
            </li>
            <li>
              <a href="#!">Link 2</a>
            </li> -->
            <!-- <li>
              <a href="#!">Link 3</a>
            </li>
            <li>
              <a href="#!">Link 4</a>
            </li> -->
          <!-- </ul> -->
  
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3 px-5">
  
          <!-- Links -->
          <!-- <h5 class="text-uppercase">Links</h5> -->
  
          <ul class="list-unstyled">
            <li>
              <a href="https://www.instagram.com/luviaka_/?hl=en"><i class="fa fa-instagram"></i> instagram</a>
            </li>
            <li>
              <a href="#!"><i class="fa fa-facebook"></i> Facebook</a>
            </li>
            <!-- <li>
              <a href="#!">Link 3</a>
            </li>
            <li>
              <a href="#!">Link 4</a>
            </li> -->
          </ul>
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a href="https://www.instagram.com/luviaka_/?hl=en"> Luviaka.com</a>
    </div>
    <!-- Copyright -->
</div>
  </footer>
  <!-- Footer -->
    
    <script src="/js/app.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>